
<section class="call-to-action">
        <img src="{{site.base_url}}/assets/img/fresh-bundle-of-lavender-and-scented-candle-on-a-NWFR9EM-small.jpg" alt="Image" class="image-data-for-parent" />
            <div class="middle-helper">
            </div>
            <div class="heading-slider-slide-content">
                <div class="center">
                    <h2>Friendly environment<br /> for all of your thoughts</h2>
                    <p>Get in Touch!</p>
                    <p><a href="/contact.html" class="button button-white"><i class="fa fa-long-arrow-right"></i></a></p>
                </div>
            </div>
</section>

