                    <h2>Doctors</h2>
                    <div class="doctor">
                        <div class="left">
                            <div class="images">
                                <div class="image">
                                    <img src="{{site.baseurl}}/assets/img/image.png" alt="Image" class="image-data-for-parent" />
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="padding">
                                <h3><strong>{{site.author}}</strong><br /> {{site.qualifications}} </h3>
                                <p>
                                    <strong>Age:</strong> 30<br />
                                    <strong>Years of experience:</strong> 8<br />
                                    <strong>Specialization:</strong> health psychology<br />

                                </p>
                                <p><a href="/about-me.html" class="button button-white"><i class="fa fa-long-arrow-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <p>Ut facilisis, diam vitae hendrerit vestibulum, sapien nunc volutpat ipsum, vitae porta metus purus vel nibh. Donec lobortis felis ac imperdiet scelerisque. Pellentesque non ligula vel tellus tristique luctus quis iaculis tortor. Integer lobortis et tellus condimentum pulvinar. Morbi congue velit nec urna molestie, et lacinia ipsum sagittis. Maecenas tincidunt condimentum sem non dapibus. Sed aliquet dignissim massa ac lacinia. Nunc venenatis.</p>
                    <p>Nulla vitae tincidunt dolor. Morbi pretium lorem quis lacus ultricies, ac bibendum nibh cursus. Donec volutpat dolor ac nibh interdum ornare. In vel pharetra lorem. Suspendisse facilisis efficitur leo ac ullamcorper. Vestibulum porta justo non risus rutrum, sed fringilla orci luctus. Nulla facilisi. Etiam tempus, magna vel ultricies volutpat, nisi nisl fringilla sapien, dignissim pretium purus.</p>

                    <div class="references references-with-button">
                        <div class="reference">
                            <p>Nunc urna tellus, sollicitudin non sollicitudin quis, elementum ac eros. Maecenas lobortis risus nec mauris mattis, et venenatis felis pharetra. Nulla facilisi. In odio nisl, semper sagittis interdum at, facilisis quis massa. Ut in mi eu lacus lacinia vehicula quis nec justo. Nam sed pulvinar ante.</p>
                            <p class="author"><strong>John Doe</strong>, 2016</p>
                        </div>
                        <div class="more-less-button">
                            <p><a href="{{site.baseurl}}/about-me.html#references" class="button">Read more references <i class="fa fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>

                    <h2>Additional informations</h2>
                    <p>Ut tempus rutrum libero, vulputate commodo turpis laoreet id. Nunc efficitur est vel cursus mollis. Suspendisse mollis convallis orci. Morbi nec est velit. Vivamus sodales, ligula at faucibus maximus, augue felis tincidunt libero, pulvinar dignissim nisi mauris non ligula. Fusce vitae turpis eget turpis ullamcorper imperdiet. Sed velit ligula, ultrices quis est in, efficitur vehicula lorem. Aliquam nulla neque, congue vitae vehicula ut, condimentum et justo.</p>


