        <footer>

            <div class="center">

                <div class="column">
                    <h3> {% t title.therapies %} </h3>
                    <ul class="menu">
                        <li><a href="{{site.baseurl}}/therapies/quit_smoking.html">{% t therapies.quit_smoking %}</a></li>
                        <li><a href="{{site.baseurl}}/therapies/behaviour_change.html">{% t therapies.behaviour_change %}</a></li>
                        <li><a href="{{site.baseurl}}/therapies/anxiety.html">{% t therapies.health_anxiety %}</a></li>
                        <li><a href="{{site.baseurl}}/therapies/eating_disorders.html">{% t therapies.eating_disorders %}</a></li>
                        <li><a href="{{site.baseurl}}/therapies/panic_attack.html">{% t therapies.panic_attack %}</a></li>
                        <li><a href="{{site.baseurl}}/therapies/pain.html">{% t therapies.pain %}</a></li>
                        <li><a href="{{site.baseurl}}/therapies/stress.html">{% t therapies.stress %}</a></li>
                    </ul>
                </div>

                <div class="column">
                    <h3>{% t footer.other_pages %}</h3>
                    <ul class="menu">
                        <li><a href="{{site.baseurl}}/index.html"> {% t title.home %} </a></li>
                        <li><a href="{{site.baseurl}}/therapies.html"> {% t title.therapies %}</a></li>
                        <li><a href="{{site.baseurl}}/supervision.html"> {% t title.supervision %} </a></li>
                        <li><a href="{{site.baseurl}}/about-me.html"> {% t title.about_me %} </a></li>
                        <li><a href="{{site.baseurl}}/contact.html"> {% t title.get_in_touch %} </a></li>
                    </ul>
                </div>

                <div class="column">
                    <h3>Contact</h3>
                    <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
                    <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
                    <!-- <p>{{site.address}}<br /> {{site.city}}, {{site.country}}</p> -->
                </div>


                <div class="column">
                    <ul class="social-media">
                        <li><a href="{{site.facebook}}" class="social-icon"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="{{site.instagram}}" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <p>
        <div class="logo">
            <a href="https://www.bps.org.uk/"><img src="{{site.baseurl}}/assets/img/bps.jpg" alt="BPS" /></a>
            <a href="https://www.hcpc-uk.org/"><img src="{{site.baseurl}}/assets/img/hcpc.png" alt="HCPC" /></a>
            <!-- Professional verification provided by Psychology Today -->
            <a href="https://www.psychologytoday.com/profile/758665" class="sx-verified-seal"></a>
            <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="14" data-id="758665" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
            <!-- End Verification -->
        </div>
                    </p>

                </div>


            </div>

<div style="text-align: center;">
        <p>
                © <script>document.write(new Date().getFullYear());</script> Talk To Sumodhee Ltd. Registered company number 12565637. - All Rights Reserved
        </p>
</div>


        </footer>

    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js" async defer></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/libs/jquery.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/libs/moment.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/libs/pikaday/pikaday.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/functions.js"></script>
</body>
</html>
