        <footer>

            <div class="center">

                <div class="column">
                    <h3>Therapies</h3>
                    <ul class="menu">
                        <li><a href="{{site.baseurl}}/therapies/quitting_smoking.html">Quitting Smoking</a></li>
                        <li><a href="{{site.baseurl}}/therapies/behaviour_change.html">Behaviour Change</a></li>
                        <li><a href="{{site.baseurl}}/therapies/anxiety.html">Health Anxiety</a></li>
                        <li><a href="{{site.baseurl}}/therapies/eating_disorders.html">Eating Disorders</a></li>
                        <li><a href="{{site.baseurl}}/therapies/panic_attack.html">Panic Attack</a></li>
                        <li><a href="{{site.baseurl}}/therapies/pain.html">Pain</a></li>
                        <li><a href="{{site.baseurl}}/therapies/stress.html">Stress</a></li>
                    </ul>
                </div>

                <div class="column">
                    <h3>Other pages</h3>
                    <ul class="menu">
                        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
                        <li><a href="{{site.baseurl}}/therapies.html">Therapies</a></li>
                        <li><a href="{{site.baseurl}}/supervision.html">Supervision</a></li>
                        <li><a href="{{site.baseurl}}/about-me.html">About me</a></li>
                        <li><a href="{{site.baseurl}}/contact.html">Get in touch</a></li>
                    </ul>
                </div>

                <div class="column">
                    <h3>Contact</h3>
                    <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
                    <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
                    <!-- <p>{{site.address}}<br /> {{site.city}}, {{site.country}}</p> -->
                </div>


                <div class="column">
                    <ul class="social-media">
                        <li><a href="{{site.facebook}}" class="social-icon"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="{{site.instagram}}" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <p>
        <div class="logo">
            <a href="https://www.bps.org.uk/"><img src="{{site.baseurl}}/assets/img/bps.jpg" alt="BPS" /></a>
            <a href="https://www.hcpc-uk.org/"><img src="{{site.baseurl}}/assets/img/hcpc.png" alt="HCPC" /></a>
        </div>
                    </p>


                </div>


            </div>

<div style="text-align: center;">
        <p>
                © 2020 Talk To Sumodhee Ltd. Registered company number 12565637. - All Rights Reserved
        </p>
</div>


        </footer>

    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js" async defer></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/libs/jquery.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/libs/moment.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/libs/pikaday/pikaday.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/functions.js"></script>
</body>
</html>
