        <footer>

            <div class="center">

                <div class="column">

                    <h3>Therapies</h3>
                    <ul class="menu">

                        <li><a href="/therapy.html">Behaviour Change</a></li>

                    </ul>

                </div>

                <div class="column">

                    <h3>Other pages</h3>
                    <ul class="menu">

                        <li><a href="/index.html">Home page</a></li>
                        <li><a href="/about-me.html">About me</a></li>
                        <li><a href="/blog.html">Recent news</a></li>
                        <li><a href="/contact.html">Contact</a></li>

                    </ul>

                </div>

                <div class="column">

                    <h3>Contact us</h3>

                    <p><a href="mailto:dayyanah.su@gmail.com">dayyanah.su@gmail.com</a></p>
                    <p>Notting Hill Gate<br /> London, UK</p>

                </div>

                <div class="column">

                    <h2><a href="tel:"></a></h2>

                    <ul class="social-media">
                        <li><a href="#" class="social-icon"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fa fa-twitter-square"></i></a></li>

                    </ul>

                </div>

            </div>

        </footer>

    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js" async defer></script>
    <script type="text/javascript" src="assets/libs/jquery.js"></script>
    <script type="text/javascript" src="assets/libs/moment.js"></script>
    <script type="text/javascript" src="assets/libs/pikaday/pikaday.js"></script>
    <script type="text/javascript" src="assets/js/functions.js"></script>
</body>
</html>
