    <header>
        <div class="top">
            <div class="center">
                <div class="top-elements-wrapper">
                    <div class="element"> <i class="fa fa-phone"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a> </div>
                    <div class="element">
                        <i class="fa fa-envelope-o"></i> <a href="mailto:{{site.email}}">{{site.email}}</a>
                    </div>
                    <div class="element element-languages">
                        <span class="container">
                            <i class="fa fa-globe"></i>
                            {% if site.lang == "en" %}
                               <span class="current-language">{% t langs.en %}</span>
                            {% elsif site.lang == "fr" %}
                               <span class="current-language">{% t langs.fr %}</span>
                            {% endif %}
                        </span>
                        <ul class="available-languages animated animated-speed fadeInDown">
                            {% if site.lang == "en" %}
                                {% capture link1 %}{{ site.baseurl_root }}/fr{{ page.url}}{% endcapture %}
                                <li><a href="{{ link1 }}">{% t langs.fr %}</a></li>
                                {% capture base_url %} {{ site.baseurl_root }} {% endcapture %}
                            {% elsif site.lang == "fr" %}
                                {% capture link2 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
                                <li><a href="{{ link2 }}">{% t langs.en %}</a></li>
                                {% capture base_url %} {{ site.baseurl_root }}/fr{% endcapture %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="element element-social-icons">
                        <a href="{{site.facebook}}"><i class="fa fa-facebook"></i></a>
                        <a href="{{site.instagram}}"><i class="fa fa-instagram"></i></a>
                        <!-- <a href="{{site.linkedin}}"><i class="fa fa-linkedin"></i></a> -->
                        <!-- <a href="{{site.twitter}}"><i class="fa fa-twitter"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="center">
                <div class="logo">
                    <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/assets/img/logo.png" alt="" /></a>
                </div>
                <nav class="top-menu">
                    <ul class="menu">
                        <li
                         {% if page.name=="index.html" %}
                            class="active"
                        {% endif %}
                            ><a href="{{ base_url }}/index.html">{% t title.home %}</a></li>
                        <li
                        {% if page.name=="therapies.html" %}
                            class="active"
                        {% endif %}
                            ><a href="{{ base_url }}/therapies.html">{% t title.therapies %}</a></li>
                        <li
                        {% if page.name=="supervision.html" %}
                            class="active"
                        {% endif %}
                            ><a href="{{ base_url }}/supervision.html">{% t title.supervision %}</a></li>
                        <li
                        {% if page.name=="blog.html" %}
                            class="active"
                        {% endif %}
                            ><a href="{{ base_url }}/blog.html">{% t title.blog %}</a></li>
                        <li
                        {% if page.name=="about_me.html" %}
                            class="active"
                        {% endif %}
                        ><a href="{{ base_url }}/about-me.html">{% t title.about_me %}</a></li>
                        <li
                        {% if page.name=="pricing.html" %}
                            class="active"
                        {% endif %}
                        ><a href="{{ base_url }}/pricing.html">{% t title.pricing %}</a></li>
                        <li
                        {% if page.name=="contact.html" %}
                            class="active"
                        {% endif %}
                        ><a href="{{ base_url }}/contact.html">{% t title.get_in_touch %}</a></li>
                    </ul>
                </nav>
                <div class="responsive-menu-button"><i class="fa fa-bars"></i></div>
            </div>
        </div>
    </header>

