                <article data-tab-id="important-documents">
                    <div class="heading">
                        <div class="left">
                            <h2 class="tab-content-heading">Get important<br /> documents</h2>
                        </div>
                        <div class="right">
                            <p class="price">Session from <strong>$99</strong></p>
                            <p><button data-action="show-schedule-popup" class="button">Schedule a Visit</button></p>
                        </div>
                    </div>
                    <p>Nulla vitae tincidunt dolor. Morbi pretium lorem quis lacus ultricies, ac bibendum nibh cursus. Donec volutpat dolor ac nibh interdum ornare. In vel pharetra lorem. Suspendisse facilisis efficitur leo ac ullamcorper. Vestibulum porta justo non risus rutrum, sed fringilla orci luctus. Nulla facilisi. Etiam tempus, magna vel ultricies volutpat, nisi nisl fringilla sapien, dignissim pretium purus.</p>
                    <div class="double-content">

                        <div class="left">
                            <div class="document">
                                <i class="fa fa-file-pdf-o background-icon"></i>
                                <div class="padding">
                                    <h3>Our practice guidelines.pdf</h3>
                                    <p>Sed vitae magna eu dui dignissim congue at eu urna. In ut ante lorem. Donec rhoncus lobortis elit, nec gravida eros.</p>
                                    <p>File size: 32kb.</p>
                                    <p><a href="#" class="button button-white"><i class="fa fa-download"></i></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="document">
                                <i class="fa fa-file-pdf-o background-icon"></i>
                                <div class="padding">
                                    <h3>Our practice guidelines.pdf</h3>
                                    <p>Sed vitae magna eu dui dignissim congue at eu urna. In ut ante lorem. Donec rhoncus lobortis elit, nec gravida eros.</p>
                                    <p>File size: 32kb.</p>
                                    <p><a href="#" class="button button-white"><i class="fa fa-download"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>We are here to help you</h2>
                    <p>Cras pharetra, est eget tempor rhoncus, nisl elit lobortis tellus, eu euismod tellus odio a neque. Sed placerat quis augue at luctus. Curabitur in est in diam ornare mattis vitae at magna. Etiam tincidunt convallis dictum. Sed vitae magna eu dui dignissim congue at eu urna. In ut ante lorem. Cras eget varius orci.</p>
                </article>

