
        <section class="triple-content">
            <div class="center">
                <div class="left">
                    <div class="images">
                        <div class="image">
                            <img src="assets/img/image.png" alt="Image" class="image-data-for-parent" />
                            <div class="padding">
                                <p class="button-more"><a href="/therapy.html" class="button button-white"><i class="fa fa-long-arrow-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="padding">
                        <h4><a href="/therapy.html">Therapy<br /> for Couples</a></h4>
                        <p>Pellentesque ac lectus nec leo euismod ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit amet risus.</p>
                    </div>
                </div>
                <div class="middle">
                    <div class="images">
                        <div class="image">
                            <img src="assets/img/image.png" alt="Image" class="image-data-for-parent" />
                            <div class="padding">
                                <p class="button-more"><a href="/therapy.html" class="button button-white"><i class="fa fa-long-arrow-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="padding">
                        <h4><a href="/therapy.html">Therapy<br /> for Seniors</a></h4>
                        <p>Ut sem arcu, gravida sit amet dictum et, porttitor sit amet risus. Donec rhoncus lobortis elit, nec gravida eros eleifend in.</p>
                    </div>
                </div>
                <div class="right">
                    <div class="images">
                        <div class="image">
                            <img src="assets/img/image.png" alt="Image" class="image-data-for-parent" />
                            <div class="padding">
                                <p class="button-more"><a href="/therapy.html" class="button button-white"><i class="fa fa-long-arrow-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="padding">
                        <h4><a href="/therapy.html">Individual<br /> therapy</a></h4>
                        <p>Pellentesque ac lectus nec leo euismod ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit amet risus.</p>
                    </div>
                </div>
            </div>
        </section>


