                    <div class="timeline">
                         <div class="timeline-left">
                             <span class="timeline-line"></span>
                             <div class="timeline-element">
                                 <span class="circle"><span class="circle-inside"></span></span>
                                 <span class="when">2007-2012</span>
                                 <span class="what">
                                     BSci in Psychology <br>
                                     <i> University of Bordeaux, France </i>
                                 </span>
                             </div>
                             <div class="timeline-element">
                                 <span class="circle"><span class="circle-inside"></span></span>
                                 <span class="when">2012-2013</span>
                                 <span class="what">
                                     Masters in Child and Adolescent Health<br>
                                     <i> University of Bordeaux, France </i>
                                 </span>
                             </div>
                             <div class="timeline-element timeline-element-last">
                                 <span class="circle circle-active"><span class="circle-inside"></span></span>
                                 <span class="when">2018 - present</span>
                                 <span class="what">
                                     Research Health Psychologist
                                     <i> Queen Mary University of London</i>
                                 </span>
                             </div>
                         </div>
                         <div class="timeline-right">
                             <div class="timeline-element-content">
                                 <h2>BSci in Psychology</h2>
                                 <p><strong></strong></p>
                                 <p></p>
                                 <h3>University of Bordeaux, France</h3>
                                 <p></p>
                             </div>
                             <div class="timeline-element-content">
                                 <h2>Masters in Child and Adolescent Health</h2>
                                 <p><strong></strong></p>
                                 <p></p>
                                 <h3></h3>
                                 <p></p>
                             </div>
                             <div class="timeline-element-content">
                                 <h2>Research Health Psychologist</h2>
                                 <p><strong>Important contributions to the study "A Randomized Trial of E-Cigarettes vs NRT" published in NEJM:</strong></p>
                                 <p>
                                 <ul>
                                     <li> Analysed characteristics of attenders and outcome variables.</li>
                                     <li> Managed research projects for smoking cessation and weight management. </li>
                                     <li> Collected and analysed metrics of clinics performance. </li>
                                 </ul>
                                 </p>
                             </div>
                         </div>
                    </div>

